#root {
  display: block;
  position: relative;
}

#portal-root {
 position: relative;
}

menu {
  margin: 0;
  padding: 0;
}

.app-content {
  margin: 0 auto;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.button {
  user-select: none;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    cursor: not-allowed;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.dropdown {
  &:hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  &.content {
    display: block;
    z-index: 1;
  }
}

.toast {
  margin-right: 16px;
  margin-top: 16px;
  width: 200px;

  position: relative;
  padding: 16px;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 4px 10px 0px #d7d7d7;
  color: #494e5c;
}
