.table-wrapper {
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
  border-collapse: collapse;

  tbody {
    tr {
      border: solid 1px $color-gray-lighter;
      border-left: 0;
      border-right: 0;

      &:nth-child(2n + 1) {
        background-color: $color-gray-lightest;
      }
    }
  }

  td {
    padding: 0.75em 0.75em;
  }

  th {
    font-size: 0.9em;
    font-weight: normal;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }

  thead {
    border-bottom: solid 2px $color-gray-light;
  }

  tfoot {
    border-top: solid 2px $color-gray-light;
  }

  &.alt {

    tbody {
      tr {
        td {
          border: solid 1px $color-gray-light;
          border-left-width: 0;
          border-top-width: 0;

          &:first-child {
            border-left-width: 1px;
          }
        }

        &:first-child {
          td {
            border-top-width: 1px;
          }
        }
      }
    }

    thead {
      border-bottom: 0;
    }

    tfoot {
      border-top: 0;
    }
  }
}