@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url("../../assets/fonts/roboto-condensed-regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-display: fallback;
  src: url("../../assets/fonts/roboto-condensed-light.woff2") format("woff2");
}
